div.mxRubberband {
    background: #0077FF;
    border-color: #0000FF;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    position: absolute;
}

.mxCellEditor {
    _background: url('../images/transparent.gif');
    background: url(data:image/gif;base64,R0lGODlhMAAwAIAAAP///wAAACH5BAEAAAAALAAAAAAwADAAAAIxhI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8egpAAA7);
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    display: inline-block;
    margin: 0px;
    min-width: 1px;
    overflow: visible;
    padding: 0px;
    position: absolute;
    resize: none;
    word-wrap: normal;
}

.mxPlainTextEditor * {
    margin: 0px;
    padding: 0px;
}

div.mxWindow {
    _background: url('../images/window.gif');
    background: url(data:image/gif;base64,R0lGODlhGgAUAIAAAOzs7PDw8CH5BAAAAAAALAAAAAAaABQAAAIijI+py70Ao5y02lud3lzhD4ZUR5aPiKajyZbqq7YyB9dhAQA7);
    border: 1px solid #c3c3c3;
    -moz-box-shadow: 3px 3px 12px #C0C0C0;
    -webkit-box-shadow: 3px 3px 12px #C0C0C0;
    box-shadow: 3px 3px 12px #C0C0C0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

table.mxWindow {
    border-collapse: collapse;
    font-family: Arial;
    font-size: 8pt;
    table-layout: fixed;
}

td.mxWindowTitle {
    _background: url('../images/window-title.gif') repeat-x;
    background: url(data:image/gif;base64,R0lGODlhFwAXAMQAANfX18rKyuHh4c7OzsDAwMHBwc/Pz+Li4uTk5NHR0dvb2+jo6O/v79/f3/n5+dnZ2dbW1uPj44yMjNPT0+Dg4N3d3ebm5szMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAXABcAAAWQICESxWiW5Ck6bOu+MMvMdG3f86LvfO/rlqBwSCwaj8ikUohoOp/QaDNCrVqvWKpgezhsv+AwmEIum89ocmPNbrvf64p8Tq/b5Yq8fs/v5x+AgYKDhIAAh4iJiouHEI6PkJGSjhOVlpeYmZUJnJ2en6CcBqMDpaanqKgXq6ytrq+rAbKztLW2shK5uru8vbkhADs=) repeat-x;
    color: black;
    font-weight: bold;
    height: 13px;
    overflow: hidden;
    padding: 2px;
    padding-bottom: 6px;
    padding-top: 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.mxWindowPane {
    padding: 0px;
    vertical-align: top;
}

div.mxWindowPane {
    overflow: hidden;
    position: relative;
}

img.mxToolbarItem {
    border-width: 1px;
    margin-bottom: 6px;
    margin-right: 6px;
}

select.mxToolbarCombo {
    border-style: inset;
    border-width: 2px;
    vertical-align: top;
}

div.mxToolbarComboContainer {
    padding: 2px;
}

img.mxToolbarMode {
    border-width: 0px;
    margin: 2px;
    margin-bottom: 4px;
    margin-right: 4px;
}

img.mxToolbarModeSelected {
    border-style: inset;
    border-width: 2px;
    margin: 0px;
    margin-bottom: 2px;
    margin-right: 2px;
}

div.mxTooltip {
    background: #FFFFCC;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    -moz-box-shadow: 3px 3px 12px #C0C0C0;
    -webkit-box-shadow: 3px 3px 12px #C0C0C0;
    box-shadow: 3px 3px 12px #C0C0C0;
    color: black;
    cursor: default;
    font-family: Arial;
    font-size: 8pt;
    padding: 4px;
    position: absolute;
}

div.mxPopupMenu {
    _background: url('../images/window.gif');
    background: url(data:image/gif;base64,R0lGODlhGgAUAIAAAOzs7PDw8CH5BAAAAAAALAAAAAAaABQAAAIijI+py70Ao5y02lud3lzhD4ZUR5aPiKajyZbqq7YyB9dhAQA7);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    -moz-box-shadow: 3px 3px 12px #C0C0C0;
    -webkit-box-shadow: 3px 3px 12px #C0C0C0;
    box-shadow: 3px 3px 12px #C0C0C0;
    position: absolute;
}

table.mxPopupMenu {
    border-collapse: collapse;
    margin-bottom: 1px;
    margin-top: 1px;
}

tr.mxPopupMenuItem {
    color: black;
    cursor: pointer;
}

tr.mxPopupMenuItemHover {
    background-color: #000066;
    color: #FFFFFF;
    cursor: pointer;
}

td.mxPopupMenuItem {
    font-family: Arial;
    font-size: 8pt;
    padding: 2px 30px 2px 10px;
    white-space: nowrap;
}

td.mxPopupMenuIcon {
    background-color: #D0D0D0;
    padding: 2px 4px 2px 4px;
}

.mxDisabled {
    cursor: default !important;
    opacity: 0.2 !important;
}
